/* General Site Wide Styles */
body {
    background-image: url('/static/image/BackgroundImage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1,h2,h3,h4,h5,h6 {
    color: rgb(180, 33, 36);
}

#navigationContainer {
    padding-left: 0px;
    padding-right: 0px;
}

.nav-link, .dropdown-item {
    color: rgb(180, 33, 36) !important;
}

.navbar {
    border-top: none !important;
    margin-top: 0px !important;
}

.FadedBlockBackground {
    background-color: rgba(255, 255, 255, 0.9) !important;
    border: 1px solid black;
    margin-top: 25px;
    padding: 15px;
}

.form-label {
    font-weight: bold;
    color: #37b120;
}


.nav-tabs {
    border-bottom: 1px solid #b42124;
}

.nav-tabs .nav-link:hover {
    border-color: #b42124 #b42124 #b42124;
}

a,a:hover {
    color: #b42124;
}

/* Homepage Styles */
.homepageBlocks {
    margin-top: 25px;
    text-align: center;
    
}

.HomepageCounters {
    min-height: 200px;
}

.CounterBlock {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    padding-top: 22%;
}

.HomepageCounters .col-md-3 {
    margin-top: 15px;
    margin-bottom: 15px;
    vertical-align: middle;
}

/* Footer styles */

#DarkFooter {
    background-color: #414141;
    overflow-x: visible;
    color: #ffffff;
    text-align: center;
    min-height: 200px;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#DarkFooter .col-md-4:nth-last-of-type(2) {
    border-right: 1px solid white;
    border-left: 1px solid white;
    min-height: 200px;

}

#DarkFooter .col-md-4 {
    padding-top: 15px;
}

#DarkFooter .footer-quickfind {
    border-bottom: 1px solid white;
    margin-right: 15px;
    padding-bottom:15px;
}

#DarkFooter .footer-sociallinks {
    margin-left: 15px;
    margin-right: 15px;
    padding-top:15px;
}

Footer {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

#Footer3 {
    margin-left: 0px;
}

/* Add Page styles */
.form-check {
    margin-bottom: 15px;
}

.form-check-label {
    text-transform: capitalize;
}

.ingred-rows{
    border-bottom: 1px solid rgba(0, 0, 0, 0.33);
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
}

#ingred-container {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid grey;
}

/* View Tools styles */

.card {
    float: left;
    width: 31%;
    margin-right: 37px;
    margin-bottom: 30px;
}

.card:nth-of-type(3n+0) {
    margin-right: 0;
}

.tool_picture {
    object-fit: cover;
    height: 200px;
}

.view_tool_picture {
    height: 500px;
width: 500px;
object-fit: cover;
border: 1px solid black;
}