{% extends 'base.html' %}{% block content %}
<div class="row FadedBlockBackground">
    <div class="col-12">
        {% include 'manage.html' %}
        {% block manage %} {% endblock %}
    <div class="row">
        <div class="col-12">
            <h2>Edit Recipe</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Please fill out the below form to create a new recipe</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ recipe.name }}">
                </div>
                <div class="form-group">
                    <label class="form-label" for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description" value="{{ recipe.description }}">
                </div>
                <div id="instructions_container" class="form-group">
                    <label class="form-label" for="instructions">Instructions</label><br>
                    <input class="btn btn-success btn-sm" type="button" value="Add Step" onClick="addInput();"><hr>
                    {% for instruction in instructions %}
                    <div id="dynamicInput{{loop.index}}">
                        <textarea class="form-control" id="instructions" name="instructions" rows="2">{{ instruction }}</textarea>
                        <input class="btn btn-success btn-sm" type="button" value="Remove Step" onclick="removeInput('dynamicInput{{loop.index}}');">
                        <hr>
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label class="form-label" for="complexity">Complexity</label>
                    <select class="form-control" id="complexity" name="complexity">
                        <option value="" disabled selected>Choose Complexity</option>
                        <option value="easy" {% if recipe.complexity == 'easy' %} selected {%endif%}>Easy</option>
                        <option value="medium"{% if recipe.complexity == 'medium' %} selected {%endif%}>Medium</option>
                        <option value="hard"{% if recipe.complexity == 'hard' %} selected {%endif%}>Hard</option>
                        <option value="extreme"{% if recipe.complexity == 'extreme' %} selected {%endif%}>Extreme</option>
                      </select>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="form-label" for="prepTime">Prep Time (Minutes)</label>
                        <input type="number" class="form-control" id="prepTime" name="prepTime" value="{{ recipe.prepTime }}">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label" for="cookingTime">Cooking Time (Minutes)</label>
                        <input type="number" class="form-control" id="cookingTime" name="cookingTime" value="{{ recipe.cookingTime }}">
                    </div>
                </div>
                <div class="form-group table-responsive">
                    <label class="form-label" for="cookingTime">Food Stats</label>
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">Kcal</th>
                            <th scope="col">Fat</th>
                            <th scope="col">Saturates</th>
                            <th scope="col">Carbs</th>
                            <th scope="col">Sugars</th>
                            <th scope="col">Fibre</th>
                            <th scope="col">Protein</th>
                            <th scope="col">Salt</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                            <div class="col-auto">
                                <input type="text" class="form-control form-control-sm" id="calories" name="calories" value="{{ recipe.calories }}">
                            </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" class="form-control form-control-sm" id="fat" name="fat" value="{{ recipe.fat }}">
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" class="form-control form-control-sm" id="saturates" name="saturates" value="{{ recipe.saturates }}">
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" class="form-control form-control-sm" id="carbs" name="carbs" value="{{ recipe.carbs }}">
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" class="form-control form-control-sm" id="sugars" name="sugars" value="{{ recipe.sugars }}">
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" class="form-control form-control-sm" id="fibre" name="fibre" value="{{ recipe.fibre }}">
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" class="form-control form-control-sm" id="protein" name="protein" value="{{ recipe.protein }}">
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" class="form-control form-control-sm" id="salt" name="salt" value="{{ recipe.salt }}">
                                </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="form-group">
                    <label class="form-label" for="servings">Servings</label>
                    <input type="number" class="form-control" id="servings" name="servings" value="{{ recipe.servings }}">
                </div>
                <div class="form-group">
                    <p class="form-label">Tools</p>
                </div>
                <div class="form-check">
                    {% for tool in tools %}
                        {% if tool.name in recipe.tools %}
                            <input class="form-check-input" type="checkbox" value="{{ tool.name }}" id="tools" name="tools" checked>
                            <label class="form-check-label" for="tools">{{ tool.name }}</label>
                            <br>
                        {% else %}
                            <input class="form-check-input" type="checkbox" value="{{ tool.name }}" id="tools" name="tools">
                            <label class="form-check-label" for="tools">{{ tool.name }}</label>
                            <br>
                        {% endif%}
                    {% endfor %}
                </div>
                <div class="form-group">
                    <p class="form-label">Ingredients</p>
                    <div class="col-6"><input type="text" class="form-control" id="ingred_list_container" placeholder="Search ingredients...">
                    </div>
                </div>
                <div id="ingred-container" class="form-check">
                    {% for ingredient in ingredients %}
                    <div class="row ingred-rows">
                        {% if ingredient.name in recipe.ingredients %}
                            <div class="col-md-2">
                            <input class="form-check-input" type="checkbox" value="{{ ingredient.name }}" id="ingredients" name="ingredients" checked>
                            <label class="form-check-label">{{ ingredient.name }}</label>
                            </div>
                            <div class="col-md-6">
                            <input type="text" class="form-control" id="quantity" name="quantity" value="{{recipe.ingredients[ingredient.name]}}">
                             </div>
                        {% else %}
                            <div class="col-md-2">
                            <input class="form-check-input" type="checkbox" value="{{ ingredient.name }}" id="ingredients" name="ingredients">
                            <label class="form-check-label">{{ ingredient.name }}</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="quantity" name="quantity" placeholder="Enter Quantity">
                             </div>
                        {% endif%}
                    </div>
                    <hr>
                    {% endfor %}
                    
                </div>
                <div class="form-group">
                    <label class="form-label" for="cuisine">Cuisine</label>
                    <select class="form-control" id="cuisine" name="cuisine">
                        <option value="" disabled selected>Choose Cuisine</option>
                        {% for cuisine in cuisines %}
                            {% if cuisine.name == recipe.cuisine %}
                            <option value="{{cuisine.name}}" selected>{{cuisine.name}}</option>
                            {% else %}
                            <option value="{{cuisine.name}}">{{cuisine.name}}</option>
                            {% endif %}
                        {% endfor %}


                        {% for cuisine in cuisines %}
                            <option value="{{cuisine.name}}">{{cuisine.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
                <a class="btn btn-danger" href="{{ url_for('manage_recipes')}}">Cancel</a>
            </form>
        </div>
    </div>
    
    </div>
</div>
{% endblock %}