<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Ultimate Cooking</title>
</head>
<body>
<header>
    <div id="navigationContainer" class="container">
      <div class="row">
        <div class="col-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light FadedBlockBackground">
        <a class="navbar-brand" href="{{ url_for('home')}}"><img src="{{ url_for('static', filename='image/UC-logo5.jpg')}}" width="200" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('view_recipes_grid')}}">Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('view_tools_grid')}}">Tools</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('view_cuisines_grid')}}">Cuisines</a>
            </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Manage
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('manage_recipes')}}">Manage Recipes</a>
              <a class="dropdown-item" href="{{ url_for('manage_ingredients')}}">Manage Ingredients</a>
              <a class="dropdown-item" href="{{ url_for('manage_tools')}}">Manage Tools</a>
              <a class="dropdown-item" href="{{ url_for('manage_cuisines')}}">Manage Cuisines</a>
            </div>
          </li>
          </ul>
          <form action="{{ url_for('simpleSearch') }}" method="POST" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" id="seachterm" name="seachterm" placeholder="Search" aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
  </div>
    </div>
</header>
<section class="container">
  {% block manage %}{% endblock %}
    {% block content %}{% endblock %}
</section>
<section id="DarkFooter" class="container">
    <div class="container">
      <div class="row">
          <div class="col-md-4">Ultimate Cooking was created to allow people who have a passion for cooking or just a general foodie.<br><br>Everyone is able to create and share recipes with other like minded people so they can something new to enjoy</div>
          <div class="col-md-4"><strong>Email:</strong><br><a class="FooterLink" href="mailto:info@ultimate.cooking">info@ultimate.cooking</a><br><br>Phone:<br>+44 (0)1234 123456</div>
          <div class="col-md-4">
            <div id="Footer3" class="row">
              <div class="footer-quickfind col-md-12">
                <form action="{{ url_for('simpleSearch') }}" method="POST" class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="text" id="seachterm" name="seachterm" placeholder="Search" aria-label="Search">
                  <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="footer-sociallinks col-md-12"><i class="fab fa-facebook-square"></i> <i class="fab fa-twitter-square"></i> <i class="fab fa-pinterest-square"></i> <i class="fab fa-youtube-square"></i> <i class="fab fa-google-plus-square"></i></div>
            </div>
          </div>
      </div>
    </div>
</section>
<footer class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-6">Ultimate Cooking 2020 - All Rights Reserved</div>
      <div class="col-md-6 text-right"><a href="{{ url_for('view_recipes_grid')}}">Recipes</a> | <a href="{{ url_for('view_tools_grid')}}">Tools</a> | <a href="{{ url_for('view_cuisines_grid')}}">Cuisines</a></div>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://kit.fontawesome.com/03eed4466c.js" crossorigin="anonymous"></script>
<script>
  // jQuery used to create a filter on the list of ingredients - https://www.w3schools.com/jquery/jquery_filters.asp
  $(document).ready(function(){
    $("#ingred_list_container").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#ingred-container .ingred-rows").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>
  <script>
    // Javascript to add/remove extra textareas to recipe instructions
    var counter = 1;
    var dynamicInput = [];
    
    function addInput(){
        var newdiv = document.createElement('div');
        newdiv.id = dynamicInput[counter];
        newdiv.innerHTML = "<textarea class='form-control' id='instructions' name='instructions' rows='2'></textarea><input class='btn btn-success btn-sm' type='button' value='Remove Step' onClick='removeInput("+dynamicInput[counter]+");'><hr>";
        document.getElementById('instructions_container').appendChild(newdiv);
        counter++;
    }
      
      function removeInput(id){
        var elem = document.getElementById(id);
        return elem.parentNode.removeChild(elem);
      }
    </script>
    <script>
      // Taken from https://codepen.io/piotrek/pen/mXpRmQ and edited for my requirements
      var allCheckboxes = document.querySelectorAll('input[type=checkbox]');
      var allRecipes = Array.from(document.querySelectorAll('.recipe'));
      var checked = {};
      
      getChecked('complexity');
      getChecked('selected_cuisines');
      getChecked('selected_tools');
      getChecked('selected_ingredients');
      
      Array.prototype.forEach.call(allCheckboxes, function (el) {
        el.addEventListener('change', toggleCheckbox);
      });
      
      function toggleCheckbox(e) {
        getChecked(e.target.name);
        setVisibility();
      }
      
      function getChecked(name) {
        checked[name] = Array.from(document.querySelectorAll('input[name=' + name + ']:checked')).map(function (el) {
          return el.value;
        });
      }
      
      function setVisibility() {
          allRecipes.map(function (el) {
          var complexity = checked.complexity.length ? _.intersection(Array.from(el.classList), checked.complexity).length : true;
          var selected_cuisines = checked.selected_cuisines.length ? _.intersection(Array.from(el.classList), checked.selected_cuisines).length : true;
          var selected_tools = checked.selected_tools.length ? _.intersection(Array.from(el.classList), checked.selected_tools).length : true;
          var selected_ingredients = checked.selected_ingredients.length ? _.intersection(Array.from(el.classList), checked.selected_ingredients).length : true;
          if (complexity && selected_cuisines && selected_tools && selected_ingredients) {
            el.style.display = 'block';
          } else {
            el.style.display = 'none';
          }
        });
      }
      </script>
</body>
</html>