{% extends 'base.html' %}{% block content %}
<div class="row FadedBlockBackground">
    <div class="col-12">
        {% include 'manage.html' %}
        {% block manage %} {% endblock %}
    <div class="row">
        <div class="col-12">
            <h2>Edit Picture</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="{{ url_for('update_recipe_picture', recipe_id=recipe._id) }}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="form-label" for="picture">Picture</label>
                    <p><img src="{{s3link}}{{imagePath}}/{{ recipe.picture }}" alt="" width="100"><br>Filename: {{ recipe.picture }}</p>
                    <input type="file" class="form-control-file" id="file" name="file">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
                <a class="btn btn-danger" href="{{ url_for('manage_recipes')}}">Cancel</a>
            </form>
        </div>
    </div>
    
    </div>
</div>
{% endblock %}