{% extends 'base.html' %}{% block content %}
<div class="row FadedBlockBackground">
    <div class="col-12">
        {% include 'manage.html' %}
        {% block manage %} {% endblock %}
    <div class="row">
        <div class="col-12">
            <h2>Edit Recipe</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Please fill out the below form to create a new recipe</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ recipe.name }}">
                </div>
                <div class="form-group">
                    <label class="form-label" for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description" value="{{ recipe.description }}">
                </div>
                <div class="form-group">
                    <label class="form-label" for="instructions">Instructions</label>
                    <textarea class="form-control" id="instructions" name="instructions" rows="3">{{ recipe.instructions }}</textarea>
                </div>
                <div class="form-group">
                    <label class="form-label" for="complexity">Complexity</label>
                    <select class="form-control" id="complexity" name="complexity">
                        <option value="" disabled selected>Choose Complexity</option>
                        <option value="easy" {% if recipe.complexity == 'easy' %} selected {%endif%}>Easy</option>
                        <option value="medium"{% if recipe.complexity == 'medium' %} selected {%endif%}>Medium</option>
                        <option value="hard"{% if recipe.complexity == 'hard' %} selected {%endif%}>Hard</option>
                        <option value="extreme"{% if recipe.complexity == 'extreme' %} selected {%endif%}>Extreme</option>
                      </select>
                </div>
                <div class="form-group">
                    <p class="form-label">Tools</p>
                </div>
                <div class="form-check">
                    {% for tool in tools %}
                        {% if tool.name in recipe.tools %}
                            <input class="form-check-input" type="checkbox" value="{{ tool.name }}" id="tools" name="tools" checked>
                            <label class="form-check-label" for="tools">{{ tool.name }}</label>
                            <br>
                        {% else %}
                            <input class="form-check-input" type="checkbox" value="{{ tool.name }}" id="tools" name="tools">
                            <label class="form-check-label" for="tools">{{ tool.name }}</label>
                            <br>
                        {% endif%}
                    {% endfor %}
                </div>
                <div class="form-group">
                    <p class="form-label">Ingredients</p>
                    <div class="col-6"><input type="text" class="form-control" id="ingred_list_container" placeholder="Search ingredients...">
                    </div>
                </div>
                <div id="ingred-container" class="form-check">
                    {% for ingredient in ingredients %}
                    <div class="row ingred-rows">
                        {% if ingredient.name in recipe.ingredients %}
                            <div class="col-md-2">
                            <input class="form-check-input" type="checkbox" value="{{ ingredient.name }}" id="ingredients" name="ingredients" checked>
                            <label class="form-check-label">{{ ingredient.name }} - {{ ingredient.unit }}</label>
                            </div>
                            <div class="col-md-6">
                                    <select class="form-control form-control-sm" id="quantity" name="quantity"> 
                                        <option value="" disabled selected>Choose Quantity</option>
                                        <option value="1" {% if recipe.ingredients[ingredient.name] == '1' %} selected {%endif%}>1</option>
                                        <option value="2" {% if recipe.ingredients[ingredient.name] == '2' %} selected {%endif%}>2</option>
                                        <option value="3" {% if recipe.ingredients[ingredient.name] == '3' %} selected {%endif%}>3</option>
                                        <option value="4" {% if recipe.ingredients[ingredient.name] == '4' %} selected {%endif%}>4</option>
                                        <option value="5" {% if recipe.ingredients[ingredient.name] == '5' %} selected {%endif%}>5</option>
                                        <option value="6" {% if recipe.ingredients[ingredient.name] == '6' %} selected {%endif%}>6</option>
                                        <option value="7" {% if recipe.ingredients[ingredient.name] == '7' %} selected {%endif%}>7</option>
                                        <option value="8" {% if recipe.ingredients[ingredient.name] == '8' %} selected {%endif%}>8</option>
                                        <option value="9" {% if recipe.ingredients[ingredient.name] == '9' %} selected {%endif%}>9</option>
                                        <option value="10" {% if recipe.ingredients[ingredient.name] == '10' %} selected {%endif%}>10</option>
                                    </select>
                             </div>
                        {% else %}
                            <div class="col-md-2">
                            <input class="form-check-input" type="checkbox" value="{{ ingredient.name }}" id="ingredients" name="ingredients">
                            <label class="form-check-label">{{ ingredient.name }} - {{ ingredient.unit }}</label>
                            </div>
                            <div class="col-md-6">
                                    <select class="form-control form-control-sm" id="quantity" name="quantity">
                                        <option value="" disabled selected>Choose Quantity</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                             </div>
                        {% endif%}
                    </div>
                    <hr>
                    {% endfor %}
                    
                </div>
                <div class="form-group">
                    <label class="form-label" for="cuisine">Cuisine</label>
                    <select class="form-control" id="cuisine" name="cuisine">
                        <option value="" disabled selected>Choose Cuisine</option>
                        {% for cuisine in cuisines %}
                            {% if cuisine.name == recipe.cuisine %}
                            <option value="{{cuisine.name}}" selected>{{cuisine.name}}</option>
                            {% else %}
                            <option value="{{cuisine.name}}">{{cuisine.name}}</option>
                            {% endif %}
                        {% endfor %}


                        {% for cuisine in cuisines %}
                            <option value="{{cuisine.name}}">{{cuisine.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
                <a class="btn btn-danger" href="{{ url_for('manage_recipes')}}">Cancel</a>
            </form>
        </div>
    </div>
    
    </div>
</div>
{% endblock %}